.site_steve {
    width: 100%;
    height: auto;
}

.steve_header {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.steve_header img {
    width: 100%;
    max-height: 700px;
}

.content_title {
    display: inline-block;
    font-size: 40px;
    user-select: none;
    z-index: 800;
}

.steve_content {
    margin-bottom: 100px;
    position: relative;
    width: 100%;
    min-height: 1000px;
    display: flex;
    justify-content: space-between;
}

.steve_footer {
    width: 100%;
    height: auto;
}

.content_box1,
.content_box2 {
    display: flex;
    flex-direction: column;
}

.content_box1 {
    transition: opacity 0.5s ease;
    opacity: 0;
    width: auto;
}

.fixed_box {
    max-width: 600px;
}

.fixed_img {
    width: 100%;
}

.content_box2 {
    transition: 0.1s ease;
    width: auto;
    position: absolute;
    right: 100px;
    bottom: -200px;
}

.site_steve.active .apple_intro {
    opacity: 1;
}

.site_steve.zoom .content_box1 {
    opacity: 1;
}

.apple_intro {
    transition: 0.5s ease;
    opacity: 0;
}

.scroll_box {
    max-width: 300px;
}

.scroll_img {
    width: 100%;
}

.fixed_p,
.scroll_p,
.gal_p {
    margin-top: 16px;
    font-weight: bold;
    font-size: 16px;
    color: #757575;
}

.fixed_p span,
.gal_p span {
    margin-right: 8px;
    font-size: 18px;
    color: #000;
    letter-spacing: 1.2px;
}

.test300 {
    line-height: 300px;
}

.steve_gal {
    width: 100%;
    height: auto;
}

.steve_gal img {
    width: 100%;
}

@media screen and (max-width: 1100px) {
    .steve_content {
        flex-direction: column;
        justify-content: center;
    }
    .content_box1,
    .content_box2 {
        margin: 0 auto;
    }
}
