.fix_box {
    width: 100%;
    height: 3000px;
}

.sticky_box video {
    width: 100%;
    width: 100%;
    z-index: 500;
}

.sticky_box {
    position: sticky;
    top: 0;
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
}

@media all and (min-width: 865px) and (max-width: 1023px) {
    .sticky_box {
        top: 20%;
    }
}

@media all and (min-width: 668px) and (max-width: 864px) {
    .sticky_box {
        top: 22%;
    }
}

@media all and (min-width: 480px) and (max-width: 667px) {
    .sticky_box {
        top: 25%;
    }
}
